/*
.AnimePage {
    background-color: #2d2f33;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3B90FF;
    height: 95vh;
    overflow-y: hidden;
}
/*
.bg-image {
  height: 100vh;
  background: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}
*/

/* Container holding the image and the text */
.Content-Area {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

.content-bg {
  text-align: center;
  color: white;
  opacity: 0.5;
}

.Title-Content {
  position: absolute;
  left: 460px;
  top: 150px;
  height: auto;
  display: inline-block;
  height: 280px;
  width: 235px;
}

.Synopsis {
  position: absolute;
  left: 700px;
  top: 450px;
  overflow-y: scroll;
  height: 180px;
  width: 270px;
  resize: none;
  background-color: rgb(0, 0, 0, 0.1);
}

.Youtube {
  position: absolute;
  left: 424px;
  bottom: 200px;
  height: auto;
  display: inline-block;
}

.Rank {
  position: absolute;
  left: 900px;
  top: 225px;
  height: 120px;
  width: 120px;
  display: inline-block;
  resize: none;
}

.Popularity {
  position: absolute;
  left: 1146px;
  top: 250px;
  height: 120px;
  width: 140px;
  display: inline-block;
  resize: none;
}

.Status {
  position: absolute;
  left: 1388px;
  top: 270px;
  height: 120px;
  width: 170px;
  display: inline-block;
  resize: none;
}

.Favorites {
  position: absolute;
  left: 1155px;
  top: 505px;
  height: 120px;
  width: 120px;
  display: inline-block;
}

.Dates-Aired {
  position: absolute;
  left: 1371px;
  top: 505px;
  height: 120px;
  width: 200px;
  display: inline-block;
}

.Studio {
  position: absolute;
  left: 1115px;
  top: 780px;
  height: 120px;
  width: 200px;
  display: inline-block;
}

.Episodes {
  position: absolute;
  left: 1407px;
  top: 780px;
  height: 50px;
  width: 120px;
  display: inline-block;
}

.Genre {
  position: absolute;
  left: 900px;
  top: 710px;
  height: 120px;
  width: 120px;
  resize: none;
  display: inline-block;
}

.Genres {
  position: absolute;
  left: 907px;
  top: 735px;
  overflow-y: scroll;
  height: 120px;
  width: 120px;
  resize: none;
  display: inline-block;
  background-color: rgb(0, 0, 0, 0.1);
}

/*
.title-bg{
  position: relative;
  text-align: left;

}
.title-bg1{
  position: relative;
  text-align: left;
}

.title-card2{
  width: 120px;
  height: 180px;
}

.title-card {
  width: 200px;
}
.row {
  color: cornflowerblue;
  font-weight: bold;
  display: absolute;
  clear: both;
  align-items: center;
  justify-content: center;
  transform: translate(0.5%, -179%);
  min-height: 386px;  
  min-width: 1920px;
}

.col {
  color: cornflowerblue;
  font-weight: bold;
  display: absolute;
  clear: both;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col1 {
  color: cornflowerblue;
  font-size: 12px;
  font-weight: bold;
  display: absolute;
  clear: both;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -195%);
  justify-content: center;
  min-width: 500px;
}

.row2 {
  color: cornflowerblue;
  font-weight: bold;
  display: flex;
  clear: both;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.Content-Area {
  position: relative;
  text-align: center;
  background: url(images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Title-Content {
transform: translate(266.5%, 28%);
}

.Title-Content1{
  padding-right: 50px;
  padding-left: 50px;
}

.Rank {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  transform: translate(7.5%, 7%);
  font-size: 18px;
}

.Popularity {
  padding-right: 50px;
  padding-left: 50px;
  transform: translate(7.5%, 240%);
  font-size: 18px;
}

.Rank2 {
  padding-right: 50px;
  padding-left: 50px;
  transform: translate(0%, 45%);
}

.Popularity2 {
  padding-right: 50px;
  padding-left: 50px;
  transform: translate(5%, 65%);
}

.Status {
  transform: translate(-330%, 260%);
}

.Status2 {
  transform: translate(0%, 450%);
}

.wrapper {
  margin: 0 auto;
  width:960px;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.extra-content{
  color: cornflowerblue;
  font-weight: 500;
}
.Synopsis-Area{
  padding: 200px;
}
.synopsis-container {
  border: 3px solid rgba(0,0,0, 0.4); 
  border-width: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 70%;
  min-width: 540px;
}
.random-stylebox{
  border: 3px solid rgba(0,0,0, 0.4); 
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 8px;
  position: relative;
  text-align: center;
  width: 99%;
  min-width: 500px;
}
.synopsis {
  background-color: rgba(0,0,0, 0.5); 
  color: cornflowerblue;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  padding: 20px;
  content: "";
  display: table;
  clear: both;
  align-items: center;
  justify-content: center;
  min-width: 480px;
}
.header{
  font-size: 200%;
}
*/