.profile {
    background-color: #2d2f33;
    flex-direction: column;
    color: #3B90FF;
}

.profile-tabs{
    background-color: #2d2f33;
    color: #3B90FF;
}

.Scroll{
    background-color: #2d2f33;
    color: #3B90FF;
}